<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SmartMES.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MainForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <appSettings>
    <!--Query 조회 TimeOut 설정-->
    <add key="QueryTimeout" value="120" />
    
    <!--RMS 조회 TimeOut 설정-->
    <add key="RMSTimeOut" value="30000" />

    <!-- FDC 최대 조회 기간 설정 -->
    <add key="FdcMaximumPeriodHour" value="48" />
    
    <!--모듈.dll 파일이 빌드된 폴더 명-->
    <add key="dllDirectory" value="" />
    
    <!--기본 언어설정-->
    <add key="DefaultLanguageType" value="ko-KR" />
    
    <!--기본 Plant-->
    <add key="DefaultPlant" value="IFC" />

    <!--페이징 처리 설정-->
    <add key="Database" value="PostgreSql" />
    
    <!--기본 Login-->
    <add key="DefaultLogin" value="" />
    
    <!--툴팁 언어 타입-->
    <add key="ToolTipLanguageType" value="" />
    
    <!--그리드 컬럼 넓이 지정 단위 px-->
    <!--<add key="GridColumnWidth" value="CREATOR=80;CREATEDTIME=130;MODIFIER=80;MODIFIEDTIME=130;VALIDSTATE=80" />-->
    
    <!--그리드 폰트 크기 지정-->
    <add key="GridFontSize" value="10" />
    
    <!--최근 사용한 메뉴 관리 개수-->
    <add key="RecentMenuCount" value="10" />
    
    <!--조회조건 관리 개수-->
    <add key="SaveConditionCount" value="10" />

    <!--기본 프린터-->
    <add key="DefaultPrinter" value="" />
    <add key="PrinterType" value="" />

    <add key="UseFormulaParamName" value="true" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!--서버 TimeZone-->
    <add key="ServerTimeZoneId" value="Asia/Seoul" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMESService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IMESService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!--
      Tcp endpoint
      -->
      <endpoint address="net.tcp://192.168.0.90:7010/Service" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMESService" contract="SmartService.IMESService" name="NetTcpBinding_IMESService" />
      <!--
      Http endpoint
      -->
      <!--<endpoint address="http://192.168.0.17:8080/Service/MESService.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IMESService" 
                contract="SmartService.IMESService" 
                name="HttpBinding_IMESService" />-->
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <SmartMES.Properties.Settings>
      <setting name="UserID" serializeAs="String">
        <value />
      </setting>
      <setting name="UserPW" serializeAs="String">
        <value />
      </setting>
    </SmartMES.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.0.431" newVersion="7.1.0.431" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>